@import "reset.css";

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.midBox {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-weight: 600;
  font-size: 18vmin;
  color: black;
  font-family: "Russo One", sans-serif;
}

.subtitle {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px ;
  font-family: 'Nanum Gothic Coding', "Russo One";

  margin-top: 1%;
  margin-bottom: 15px;

}
.user {
  font-family: "Russo One", 'Nanum Gothic Coding';

  background-color: transparent;
  text-align: center;
  font-size: 5vmin;
  padding-bottom: 5px;
  border: 0;
  outline: 0;
}

input::placeholder {
  font-family: "Russo One", sans-serif;
}

button {
  -webkit-tap-highlight-color: transparent; 
  padding: 1vh 2vh;
  display: flex;
  margin: 3%;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #00afb1;
  font-size: 5vh;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
  font-family: "Russo One", sans-serif;
}

button:active{
  background-color: hsl(177, 52%, 42%);
}