@import "../reset.css";

html,body {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  height: 100%;
  width: 100%;
  font-size: 62.5%;
  background: #F5F5F7;
}

header {
  width: 100%;
	height: 30px;
  background-color: #00afb1;
  flex-shrink: 0;
}

.status-bar {
  width: 100%;
  height: 100%;
}

.status-bar[value] {
	-webkit-appearance: none;
	appearance: none;
}

.status-bar[value]::-webkit-progress-bar {
	background-color:rgb(255, 245, 247);
}

.status-bar[value]::-webkit-progress-value {
	background-color: #8396e9;
}

.result {
  -webkit-tap-highlight-color: transparent; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  height: 100%;
  color:rgb(32, 32, 32);
  max-width: 800px;
}


.question {
  width: 90%;
  /*background-color: brown;*/
  height: auto;
  font-size: 28px ;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break:keep-all;
  font-family: 'Black Han Sans', sans-serif;
  line-height: 40px;
  text-align: center;
}


.responses {
  /*background-color: blue;*/

  width: 90%;
  max-width: 500px;
  height: 85%;
  min-height: 300px;
  line-height: 1.3;
  display: flex;
  padding-bottom: 20px;
  justify-content: flex-end;
  flex-direction: column;
  word-break: keep-all;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Nanum Gothic', sans-serif;
}

.choose {
  -webkit-tap-highlight-color: transparent; 
  background: rgb(235, 140, 140);
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height:60px;

  min-width: 28px;
  border: 0;
  outline: 0;
  border-radius: 28px;

  margin-top: 25px;
  /*padding: 185px 23px;*/
  padding: 0px 10px;
  font-size: 15px;
  letter-spacing: 1px;


  text-align: center;
  
  font-family: 'Nanum Gothic', sans-serif;
  color: #fff;
  cursor: pointer;
}

.clicked {
  background-color: #bcafff;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 13%;
  margin-bottom: 10px;
}

.nextBtn {
  width: 30vh;
  display: inline-block;
  color: #fff;
  background: #00afb1;
  border: 0;
  outline: 0;
  min-width: 28px;
  padding: 18px 23px;
  border-radius: 28px;
  font-size: 17px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}

.nextBtn:active {
  background-color: hsl(177, 52%, 42%);
}