@import "../reset.css";

html,body {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: auto;
  min-width: 320px;
  font-size: 62.5%;
  /* background-color: #81ead6; */
  background: #F5F5F7;


}

header {
  width: 100%;
  height: 20px;
  margin-top:10%; 
  background-color:#1B65F1;
  flex-shrink: 0;
}

.status-bar {
  width: 100%;
  height: 100%;
}

.status-bar[value] {
	-webkit-appearance: none;
	appearance: none;
}

.status-bar[value]::-webkit-progress-bar {
  /* background-color: rgb(198, 198, 198); */
  background-color:#F5F5F7;
}

.status-bar[value]::-webkit-progress-value {
	background-color: #81ead6;
}

.result {
	/* background-color: #fff; */
  
  -webkit-tap-highlight-color: transparent; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* margin-top: 3%; */
  width: 50vh;
  height: 500px;
  color:rgb(32, 32, 32);
}

.question {
  width: 95%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  word-break: keep-all;
  font-size: 30px ;
  font-family: 'Black Han Sans', sans-serif;
  line-height: 33px;
  text-align: center;
}

.responses {
  width: 90%;
  max-width: 500px;
  height: 70%;
  min-height: 300px;
  line-height: 1.3;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;
  word-break: keep-all;

  -webkit-tap-highlight-color: transparent;
  font-family: 'Nanum Gothic', sans-serif;
}

.choose {
  -webkit-tap-highlight-color: transparent; 
  background:  #ffe876;
  /* border:3rg#ffe876239, 116)d #769be6; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height:60px;
  min-width: 28px;
  outline: 0;
  border-radius: 8px;
  margin-top: 25px;
  padding: 0px 10px;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  cursor: pointer;
}

.clicked {
  background:#e7cb3e;
  /* background:rgb(235, 187, 58);; */
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 13%;
  margin-bottom: 10px;
}

.nextBtn {
  display: inline-block;
  color: #fff;
  background-color: rgb(181, 181, 181);
  border: 0;
  outline: 0;
  min-width: 150px;
  padding: 18px 23px;
  border-radius: 28px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}

.nextBtn:active {
  background-color: #8e8f94;
}