@import "../reset.css";

html,
body {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around; */
  /* border: 3px dotted black; */
  height: 100%;
  width: auto;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 5%;
}

.status-bar {
  /* width: 99.8%; */
  width: 90%;
  height: 5px;
  border: 2px solid blue;
  /* background-color: blue; */
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: auto;
  height: 80%;
  border: 2px solid red;
}

/* main {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .survey-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  /* margin-top: 30px; */
/* border: 5px solid orange; 
} */

.question {
  width: 90%;
  height: 100px;
  border: 2px solid green;
  /* background-color: green; */
}

.responses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 450px;
  margin-top: 10px;
  /* margin-top: 30px; */
  /* border: 2px solid purple; */
}

.choose {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  border: 2px solid brown;
  border-radius: 10px;
  /* background-color: brown; */
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;

  position: absolute;
  bottom: 0px;
  /* position: fixed; */
  background-color: gray;
}

button {
  position: relative;

  width: 30%;
  height: 50px;
  margin: 20px 180px;
  border: 2px solid black;
  /* background-color: pink; */
}
