@import "../reset.css";

html,
body {
  width: auto;
  min-width: 320px;
}

section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212131;
  color: aliceblue;
  font-size: 30px;
  /* position: relative; */
}

section:last-child {
  /* border-inline:5px dotted brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 4px solid black;
  border-radius: 5%;
  /* box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), inset 0 -2px 6px 0 rgba(10,37,64,.35); */
}

.result {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.title {
  margin: 50px;
  font-size: 30pt;
  font-family: "Russo One", 'Nanum Gothic';
  line-height: 47px;
}

.resultPic {
  max-width: 1100px;
  width: 100%;
  height: 500px;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}


.character {
  width: auto;
  height: auto;
  
  /* border: 2px solid blue; */
}

.character:last-child{
  width: 400px;
  height: 440px;
  border-radius: 4%;
  /* box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), inset 0 -2px 6px 0 rgba(10,37,64,.35); */
  /* border: 2px solid yellow; */
  border: 4px solid rgb(0, 5, 26);
  padding: 30px;
  word-wrap: break-word;
}

.submain, .subsub {
  /* border: 2px solid red; */
  width: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.submain {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: black;
  background-color: #00afb1;
  font-size: 30px;
  line-height: 70px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), inset 0 -2px 6px 0 rgba(10,37,64,.35);
}

.subsub {
  /* background: #00afb1; */
  line-height: 30px;
  /* word-wrap: break-word; */
}

@media (max-width: 1050px)
{
   .resultPic{    
    flex-direction: column;
    height: 850px;
  }

  canvas{
  box-shadow: none;
  }

  .character:last-child{
    margin-top:30px;
    margin-bottom:30px;
    width: 440px;
  }
}

@media (max-width: 550px)
{
  .resultPic{
    height: 800px;
  }

  canvas{    
    width: 400px;
  }

  .character:last-child{
    width: 340px;
  }

  .creater {
    width: 170px;
    height: 200px;
  }
}

@media (max-width: 430px)
{
  canvas{    
    width: 350px;
  }

  .character:last-child{
    width: 290px;
  }
  .submain {
    font-size: 25px;
  }
}

@media (max-width: 370px)
{
  canvas{    
    width: 300px;
  }

  .character:last-child{
    width: 240px;
  }

  .submain {
    font-size: 20px;
  }
}

.canvas {
  box-sizing: border-box;
}

.Btns {
  /* border: 2px solid pink; */
  /* position: absolute; */
  width: 100vw;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

button {
  position: relative;
  width: 40vw;
  max-width: 150px;
  height: 70px;
  background-color: #00afb1;
  border: 0;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
  /* box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), inset 0 -2px 6px 0 rgba(10,37,64,.35); */
}

i {
  font-size: 20px;
  color: black;
}

.exBtn {
  /* width: 10%; */
  margin-top: 8px;
  font-size: medium;
  font-family: 'Nanum Gothic', sans-serif;

  /* font-family: "Russo One", sans-serif; */
  letter-spacing: 1.5px;
}

.fas {
  color: aliceblue;
  font-size: 23px;
}

.explain {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
  padding: 30px;
}

.discription {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.discription:last-child {
  /* border: 2px solid blue; */
  justify-content: center;
  margin-bottom: 10px;
}

.txt {
  padding: 20px 10px 5px 10px;
  word-break:keep-all;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 45px;
  /* max-lines: 3; */
}

.txt:last-child {
  font-size: small;
  line-height: 25px;
}

/* #developers {
  border: 2px solid brown;
} */

.dev {
  /* border: 2px solid red; */
  margin: 20px 0px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
}

.creater {
  width: 60vw;
  height: 230px;
  /* height: 90vh; */
  /* height: 150px; */
  /* min-height: 100px; */
  max-width: 200px;
  background:#fff;
  padding: 13px 0px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* border: 4px solid black; */
  border-radius: 5%;
  /* box-shadow:1px 1px 5px #333;
  -webkit-box-shadow:1px 1px 5px #333;
  -moz-box-shadow:1px 1px 5px #333; */
}

.creater:last-child {
  /* border: 2px solid red; */
  margin-left: 5vw;
}

img {
  width: 80%;
  /* height: 60vh; */
  max-width: 165px;
  max-height: 165px;
  /* position: absolute; */
  /* border: 0.05px solid black; */
  background:rgb(232, 234, 244);
  /* margin-bottom: 100px; */
}

.name {
  position: absolute;
  border: 1px solid rgb(150, 142, 156);
  padding: 5px 1.7vw;
  font-family: "Russo One", sans-serif;
  text-align: center;
  line-height: 23px;
  /* margin-top: 22vh; */
  margin-top: 175px;
  /* margin-top: 95%; */
  word-break: normal;
  /* margin-bottom: 0px; */
}

/* .name { */
  /* padding-left: 2vw;
  padding-right: 2vw; */
  /* border: 2px solid #272727; */
/* } */

#ifkakao {
  background:#272727;
  color: aliceblue;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
  line-height: 25px;
  font-family: 'Nanum Gothic', sans-serif;
}

.Return {
  /* background-color: blueviolet; */
  font-family: 'Nanum Gothic', sans-serif;
  color: aliceblue;
  margin-bottom: 35px;
  /* width: 200px; */
  height: 45px;
  
}