@import "../reset.css";

html,
body {
  width: auto;
  min-width: 320px;
  background: #F5F5F7;
}

section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212131;
  color: aliceblue;
  font-size: 30px;
}

section:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 4px solid black;
  border-radius: 5%;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.title {
  margin: 50px;
  font-size: 30pt;
  font-family: "Russo One", 'Nanum Gothic';
  line-height: 47px;
}

.resultPic {
  max-width: 1100px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.character {
  width: auto;
  height: auto;
}

.character:last-child{
  width: 400px;
  height: 440px;
  border-radius: 4%;
  border: 4px solid rgb(0, 5, 26);
  padding: 30px;
  word-wrap: break-word;
}

.submain, .subsub {
  width: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.submain {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: black;
  background-color: #00afb1;
  font-size: 30px;
  line-height: 70px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), inset 0 -2px 6px 0 rgba(10,37,64,.35);
}

.subsub {
  line-height: 30px;
}

@media (max-width: 1050px)
{
   .resultPic{    
    flex-direction: column;
    height: 850px;
  }

  canvas{
  box-shadow: none;
  }

  .character:last-child{
    margin-top:30px;
    margin-bottom:30px;
    width: 440px;
  }
}

@media (max-width: 550px)
{
  .resultPic{
    height: 800px;
  }

  canvas{    
    width: 400px;
  }

  .character:last-child{
    width: 340px;
  }

  .creater {
    width: 170px;
    height: 200px;
  }
}

@media (max-width: 430px)
{
  canvas{    
    width: 350px;
  }

  .character:last-child{
    width: 290px;
  }
  .submain {
    font-size: 25px;
  }
}

@media (max-width: 370px)
{
  canvas{    
    width: 300px;
  }

  .character:last-child{
    width: 240px;
  }

  .submain {
    font-size: 20px;
  }
}

.canvas {
  box-sizing: border-box;
}

.Btns {
  width: 100vw;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

button {
  position: relative;
  width: 40vw;
  max-width: 150px;
  height: 70px;
  background-color: #00afb1;
  border: 0;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
}

i {
  font-size: 20px;
  color: black;
}

.exBtn {
  margin-top: 8px;
  font-size: medium;
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 1.5px;
}

.fas {
  color: aliceblue;
  font-size: 23px;
}

.explain {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.discription {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.discription:last-child {
  justify-content: center;
  margin-bottom: 10px;
}

.txt {
  padding: 20px 10px 5px 10px;
  word-break:keep-all;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 45px;
}

.txt:last-child {
  font-size: small;
  line-height: 25px;
}

.dev {
  margin: 20px 0px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
}

.creater {
  width: 60vw;
  height: 230px;
  max-width: 200px;
  background:#fff;
  padding: 13px 0px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 5%;
}

.creater:last-child {
  margin-left: 5vw;
}

img {
  width: 80%;
  max-width: 165px;
  max-height: 165px;
  background:rgb(232, 234, 244);
}

.name {
  position: absolute;
  border: 1px solid rgb(150, 142, 156);
  padding: 5px 1.7vw;
  font-family: "Russo One", sans-serif;
  text-align: center;
  line-height: 23px;
  margin-top: 175px;
  word-break: normal;
}

#ifkakao {
  background:#333333;
  color: aliceblue;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
  line-height: 25px;
  font-family: 'Nanum Gothic', sans-serif;
}

.Return {
  color: aliceblue;
  margin-bottom: 35px;
  height: 45px;
  font-family: 'Nanum Gothic', sans-serif;
}